.textInput {
  width: 100%;
  height: 50px;
  border-color: #65bfd6;
  border-style: double;
  border-radius: 10px;
}

.evaluteTextInput {
  width: 100%;
  height: 50px;
  border-color: #65bfd6;
  border-style: solid;
  background: border-box;
  outline-color: none;
}

.sidebarText {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.italicFront {
  font-style: italic;
}

.chevron-down {
  width: 8%;
}

.calculator-bg {
  background-color: whitesmoke;
  border-radius: 10px;
  height: 400px;
  width: 100%;

  position: absolute;
  top: 50px;
  z-index: 5px;
}

.cal-btn {
  height: 60px;
  width: 75px;
  background: lightgrey;
  border-radius: 10px;
  z-index: 5px !important;
  outline: none;
  border-color: ghostwhite;
}

.cal-btn-white {
  height: 60px;
  width: 75px;
  background: whitesmoke;
  border-radius: 10px;
  z-index: 5px !important;
  outline: none;
  border-color: ghostwhite;
}

.cal-btn-grey {
  height: 60px;
  width: 75px;
  background: grey;
  border-radius: 10px;
  z-index: 5px !important;
  outline: none;
  border-color: ghostwhite;
  color: white;
}
.cal-btn-primary {
  height: 60px;
  width: 75px;
  background: #65bfd6;
  border-radius: 10px;
  z-index: 5px !important;
  outline: none;
  border-color: ghostwhite;
  color: white;
}

.flex-button {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  //   width: 70%;
}

.keyboard {
  width: 6%;
  position: absolute;
  right: 10%;
  cursor: pointer;
}

.enter {
  width: 6%;
  position: absolute;
  right: 10%;
  cursor: pointer;
  border-radius: 10px;
  right: 2%;
}

.textCollection {
  position: absolute;
  top: 1%;
  left: 5%;
  width: 80%;
}

.displayFlex {
  display: flex;
  justify-content: flex-end;
}

.flexSpaceBetween {
  display: flex;
  justify-content: space-around;
}

.flexColoumn {
  display: flex;
  flex-direction: column;
}

.secondary {
  color: #65bfd6;
}

.card {
  border-radius: 7px;
}

.card-text {
  font-size: 14px;
}

.question-card {
  height: auto;
}

.similarProblem-card {
  height: 40px;
}

.graph-card {
  // margin-left: 2%;
}

.quiz-card {
  // margin-left: 2%;
}

.blogView {
  border-left: 2px solid #65bfd6;
}

.arrowUp {
  width: 4%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: #343a40;
  text-align: center;
  height: 75px;
  display: flex;
  justify-content: space-between;
  z-index: 2px;
  border-top: 1px solid #c0c0c0;
}

.footer-btn {
  border: 1px solid;
}
