/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
$fa-font-path: "../node_modules/font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";

$primary-color: #343a40;
$secondary-color: #65bfd6;
$ternary-color: #cbd4d6;
$light-color: #f4f4f4;
$danger-color: #dc3545;
$success-color: #28a745;

$max-width: 1100px;

.container {
  margin-top: 5%;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

// Margin & Padding
$spaceamounts: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10);

@each $space in $spaceamounts {
  // All around margin
  .m-#{$space} {
    margin: #{$space}rem;
  }

  // Vertical Margin
  .my-#{$space} {
    margin: #{$space}rem 0;
  }

  // All around Padding
  .p-#{$space} {
    padding: #{$space}rem;
  }

  // Vertical Padding
  .py-#{$space} {
    padding: #{$space}rem 0;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
